<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Creta a new Page</title>
</head>
<body>
    <h1>New Fruit Page</h1>
    <form action="/fruits" method="post">
        Name: <input type="text" name="name"><br/>
        Color: <input type="text" name="color"><br/>
        Is Ready To EaT: <input type="checkbox" name="readyToEat"><br/>
        <input type="submit" value="Create Fruit">
    </form>
</body>
</html>