<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <title>Fruits App</title>
</head>
<body>
    <h1>SHOW PAGE FOR FRUITS</h1>

The <%=fruit.name; %> is <%=fruit.color; %>. <% if(fruit.readyToEat ===
    true){ %> It is ready to eat <% } else { %> It is not ready to eat <% }
    %>
<p>
    <a href="/fruits/">Back To Index</a>
</p>

</body>
</html>